@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */

  /* TYPOGRAPHY */
  --FF1: "Open Sans", sans-serif;
  --FF2: "Raleway", sans-serif;
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

a:any-link {
  color: black;
  text-decoration: none;
}

/* || HEADER */
.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.header-nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 21.33vw;
  margin: 24px 24px 98px 24px;
}

.header-nav-logo img {
  max-width: 80px;
}

.header-nav-links {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 6.4vw;
}

.header-nav-links a {
  font: normal 12px var(--FF2);
  color: #07043b;
}

/* || MAIN */
.main {
  width: 100%;
  overflow-x: hidden;
}

/* || MAIN-HERO */
.main-hero {
  max-width: 100%;
  height: 752px;
  background-image: url("./images/bg-curve-mobile.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 40px;
}

.main-hero-img img {
  max-width: 304px;
}

.main-hero-block {
  padding: 0px 27px 0px 28px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 32px;
}

.main-hero__text-hero {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 24px;
}

.text-hero__title {
  font: bold 24px/36px var(--FF1);
  color: #07043b;
  width: 320px;
}

.text-hero__subtext {
  font: normal 14px/21px var(--FF1);
  color: #07043b;
  width: 296px;
}

/* || MAIN-HERO-FORM */
.main-hero__form {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.main-hero__form > * {
  align-self: center;
}

.main-hero__form-input {
  appearance: none;
  width: 100%;
  min-width: 304px;
  min-height: 40px;
  padding: 14px 21px 12px 21px;
  font: normal 12px var(--FF2);
  outline: none;
  border: 1px solid #07043b;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background 0.25s, border-color 0.25s, color 0.25s;
}

.main-hero__form-input:focus {
  background-color: #fff;
}

.main-hero__form-btn {
  font: bold 14px var(--FF2);
  padding: 12px 113px;
  color: white;
  background-color: #2f65f8;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 2px 3px 6px 0px hsla(0, 0%, 0%, 0.1593);
  text-align: center;
  width: 304px;
  height: 40px;
}

/* || MAIN-PROD */
.main-prod {
  background-color: #f8f8fe;
  width: 100%;
  height: 908px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 40px 27px 81px 20px;
  gap: 87px;
}

.main-prod-img img {
  max-width: 320px;
}

.main-prod-block {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-prod__text-prod {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 36px;
}

.text-prod__title {
  font: bold 16px/24px var(--FF2);
  color: #07043b;
  margin-bottom: 24px;
}

.text-prod__subtext1,
.text-prod__subtext2 {
  font: normal 14px/21px var(--FF1);
  color: #615f7e;
  width: 320px;
}

.text-prod__subtext1 {
  margin-bottom: 16px;
}

.main-prod-cta {
  font: normal 12px var(--FF1);
  color: #3da08f;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 8px;
  padding-bottom: 6px;
  border-bottom: 1px solid #3da08f;
  margin-bottom: 40px;
}

.main-prod-test {
  width: 280px;
  height: 170px;
  background-color: #fff;
  border-radius: 3.93px;
  padding: 22px 12.74px 18.62px 25.96px;
  box-shadow: 0px 0px 8px 4px hsla(0, 0%, 22%, 0.0459);
  display: flex;
  flex-flow: column;
  gap: 12px;
}

.prod-test-quote p {
  margin-top: 9px;
  font: normal 10px/18.1px var(--FF1);
  color: #07043b;
  letter-spacing: 0.38px;
}

.prod-test-avatar {
  display: flex;
  flex-flow: row;
  gap: 8px;
  align-items: center;
}

.prod-test-avatar__img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.prod-test-avatar__name-role {
  display: flex;
  flex-flow: column;
  gap: 2px;
}

.prod-test-avatar__name {
  font: bold 9px var(--FF1);
  color: #07043b;
  letter-spacing: 0.45px;
  text-transform: capitalize;
}

.prod-test-avatar__role {
  font: normal 6px/11.8px var(--FF1);
  color: #07043b;
  letter-spacing: 0.3px;
}

/* || MAIN-ACCESS */
.main-access {
  width: 100%;
  height: 345px;
  padding: 54px 47px 71px 48px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 24px;
  background-color: #575988;
}

.main-access__text-access {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 16px;
}

.text-access__title {
  font: bold 18px/24px var(--FF2);
  color: #fff;
}

.text-access__subtext {
  font: normal 14px/21px var(--FF1);
  color: #fff;
  width: 280px;
}

/* || MAIN-ACCESS-FORM */
.main-access__form {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.main-access__form > * {
  align-self: center;
}

.main-access__form-input {
  appearance: none;
  width: 100%;
  min-width: 240px;
  min-height: 32px;
  padding: 11px 8px 9px 8px;
  font: normal 10px var(--FF2);
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  background-color: #f9f9f9;
  transition: background 0.25s, color 0.25s;
}

.main-access__form-input:focus {
  background-color: #fff;
}

.main-access__form-btn {
  font: bold 10px var(--FF2);
  padding: 11px 70.59px 9px 71px;
  color: white;
  background-color: #2f65f8;
  border: none;
  border-radius: 2px;
  outline: none;
  box-shadow: 1px 1px 3px 0px hsla(243, 87%, 12%, 0.157);
  text-align: center;
  width: 240px;
  height: 32px;
}

/* || FOOTER */
.footer {
  background-color: #07043b;
  width: 100%;
  height: 590px;
  padding: 65px 39px 42px 39px;
}

.footer-logo img {
  max-width: 105px;
  margin-bottom: 32px;
}

.footer-links__contact {
  display: flex;
  flex-flow: column;
  gap: 16px;
  margin-bottom: 32px;
}

.contact-tel,
.contact-mail {
  display: flex;
  align-items: center;
  gap: 16px;
  color: white;
  font: normal 16px/24px var(--FF1);
}

.footer-links__footer-nav {
  display: flex;
  flex-flow: column;
  gap: 32px;
  margin-bottom: 32px;
}

.footer-nav__cl1,
.footer-nav__cl2 {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.footer-nav__cl1 p,
.footer-nav__cl2 p {
  color: white;
  font: normal 16px var(--FF1);
}

.social-links-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-links-rad {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #dfe4f0;
  display: grid;
  place-content: center;
}

.social-links-rad img {
  max-width: 20px;
}

.footer-links__social-links {
  display: flex;
  justify-content: center;
}

/* || Desktop/TV */
@media (min-width: 992px) {
  /* || HEADER */
  .header-nav {
    gap: 58.43vw;
    margin: 65px 80px 86px 80px;
  }

  .header-nav-logo img {
    max-width: 166px;
  }

  .header-nav-links {
    gap: 3.96vw;
  }

  .header-nav-links a {
    font: normal 16px var(--FF2);
  }

  .header-nav-links a:hover,
  .header-nav-links a:focus-visible {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #07043b;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  /* || MAIN-HERO */
  .main-hero {
    background-image: url("./images/bg-curve-desktop.svg");
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.903vw;
    padding-bottom: 278px;
  }

  .main-hero-img img {
    max-width: 640px;
    padding-right: 80px;
  }

  .main-hero-block {
    padding-left: 80px;
    align-items: flex-start;
    gap: 25px;
    padding-right: 0px;
  }

  .main-hero__text-hero {
    align-items: flex-start;
    gap: 15px;
  }

  .text-hero__title {
    font: bold 40px/60px var(--FF2);
    width: 615px;
    text-align: left;
  }

  .text-hero__subtext {
    font: normal 17px/24px var(--FF1);
    width: 570px;
    text-align: left;
  }

  /* || MAIN-HERO-FORM */
  .main-hero__form {
    flex-flow: row;
  }

  .main-hero__form-input {
    min-width: 320px;
    min-height: 45px;
    font: normal 14px var(--FF2);
  }

  .main-hero__form-btn {
    padding: 15px 61px 14px 61px;
    width: 200px;
    height: 45px;
  }

  .main-hero__form-btn:hover,
  .main-hero__form-btn:focus-visible {
    background-color: #6c9bff;
  }

  /* || MAIN-PROD */
  .main-prod {
    height: 670px;
    flex-flow: row-reverse;
    justify-content: center;
    padding: 64px 80px 107px 80px;
    gap: 6.25vw;
  }

  .main-prod-img img {
    max-width: 542px;
  }

  .main-prod-block {
    align-items: flex-start;
  }

  .main-prod__text-prod {
    align-items: flex-start;
    margin-bottom: 15px;
  }

  .text-prod__title {
    font: bold 40px var(--FF2);
    margin-bottom: 38px;
  }

  .text-prod__subtext1,
  .text-prod__subtext2 {
    font: normal 16px/24px var(--FF1);
    width: 529px;
    text-align: left;
  }

  .main-prod-cta {
    font: normal 16px var(--FF1);
    padding-bottom: 4px;
    margin-bottom: 45px;
  }

  .main-prod-cta:hover,
  .main-prod-cta:focus-visible {
    color: #71dfcc;
    border-bottom-color: #71dfcc;
  }

  .main-prod-cta:hover .main-prod-arrow-org,
  .main-prod-cta:focus-visible .main-prod-arrow-org {
    display: none;
  }

  .main-prod-cta:hover .main-prod-arrow-hover,
  .main-prod-cta:focus-visible .main-prod-arrow-hover {
    display: block;
  }

  .main-prod-test {
    width: 356px;
    height: 215px;
    border-radius: 5px;
    padding: 29px 34px 26px 33px;
    box-shadow: 0px 0px 10px 5px hsla(0, 0%, 22%, 0.0459);
    gap: 16px;
  }

  .prod-test-quote p {
    margin-top: 10px;
    font: normal 13px/23px var(--FF1);
    letter-spacing: 0.5px;
  }

  .prod-test-avatar__img {
    width: 32px;
    height: 32px;
  }

  .prod-test-avatar__name {
    font: bold 11px var(--FF1);
    letter-spacing: 0.55px;
  }

  .prod-test-avatar__role {
    font: normal 8px/15px var(--FF1);
    letter-spacing: 0.4px;
  }

  /* || MAIN-ACCESS */
  .main-access {
    height: 322px;
    padding: 100px 80px 85px 80px;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 15.76vw;
  }

  .main-access__text-access {
    align-items: flex-start;
    gap: 17px;
  }

  .text-access__title {
    font: bold 32px/48px var(--FF2);
    text-align: left;
  }

  .text-access__subtext {
    font: normal 16px/24px var(--FF1);
    width: 533px;
    text-align: left;
    letter-spacing: 0.5px;
  }

  /* || MAIN-ACCESS-FORM */
  .main-access__form {
    gap: 16px;
  }

  .main-access__form > * {
    align-self: flex-start;
  }

  .main-access__form-input {
    min-width: 480px;
    min-height: 48px;
    padding: 16px 22px 18px 22px;
    font: normal 12px var(--FF2);
    border-radius: 4px;
  }

  .main-access__form-btn {
    font: bold 14px var(--FF2);
    padding: 16px 22px;
    border-radius: 4px;
    box-shadow: 2px 3px 6px 0px hsla(243, 87%, 12%, 0.157);
    width: 200px;
    height: 48px;
  }

  .main-access__form-btn:hover,
  .main-access__form-btn:focus-visible {
    background-color: #6c9bff;
  }

  /* || FOOTER */
  .footer {
    height: 391px;
    padding: 92px 80px 86px 80px;
    display: flex;
    justify-content: center;
  }

  .contact-tel,
  .contact-mail {
    gap: 1.11vw;
  }

  .contact-tel:hover,
  .contact-tel:focus-visible,
  .contact-mail:hover,
  .contact-mail:focus-visible {
    color: #6c9bff;
  }

  .footer-logo img {
    max-width: 135px;
    margin-bottom: 36px;
  }

  .footer-content {
    display: flex;
  }

  .footer-links__contact {
    margin-bottom: 0px;
    margin-right: 15.42vw; /* 222px */
  }

  .footer-nav__cl1 p:hover,
  .footer-nav__cl1 p:focus-visible,
  .footer-nav__cl2 p:hover,
  .footer-nav__cl2 p:focus-visible {
    color: #6c9bff;
  }

  .footer-links__footer-nav {
    flex-flow: row;
    gap: 13.89vw;
    margin-bottom: 0px;
    margin-right: 12.85vw; /* 185px */
  }

  .social-links-flex {
    gap: 11px;
  }

  .social-links-rad {
    width: 32px;
    height: 32px;
  }

  .footer-links__social-links {
    align-items: flex-start;
  }

  .social-links-rad:hover .org,
  .social-links-rad:focus-visible .org {
    display: none;
  }

  .social-links-rad:hover .hvr,
  .social-links-rad:focus-visible .hvr {
    display: block;
  }

  .social-links-rad:hover,
  .social-links-rad:focus-visible {
    border-color: #6c9bff;
  }
}
